Exercise 4.6 part 1

Defining orders_products_prior

Merge orders and order_products_prior on Order Id

#1 Import Libraries

In [9]:
# Import Liabraries
import pandas as pd
import numpy as np
import os

In [10]:
# define path
path=r'/Users/yeji/Documents/Career Foundry/Achievement 4/Instacart Basket Analysis'

In [11]:
# define orders_checked.csv
df_ords= pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'), index_col = 0)

In [12]:
# define order_products_prior.csv
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data', 'Original Data','order_products_prior.csv'), index_col=False)

In [13]:
#check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 6)

In [21]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [22]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [23]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [17]:
#merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [19]:
#check merge counts
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))